.page-header
  %h2
    Pick Stats
.row
  - @pick_stats.each do |pick_stat|
    .span8.pickStat
      .row
        .span8.stat_headers
          .row
            .span4.bowl_name
              = "#{pick_stat.bowl_game.name}"
            .span1
              Pks
            .span1
              Hi
            .span1
              Lo
            .span1
              Avg
        - pick_stat.teams.each do |team|
          .span8.team_row
            .row
              .span4.team_name_col
                %div{:class => "teamLogo #{"espnId-#{team[:team].espn_id}"}"}
                .team_name
                  = "#{team[:team].school_name}"
                .clear
              .span1
                = "#{team[:stats][:count]}"
              .span1
                = "#{team[:stats][:max]}"
              .span1
                = "#{team[:stats][:min]}"
              .span1
                = "#{(sprintf('%d', team[:stats][:avg]) rescue nil) || "-"}"