- hellos = ["Nei ho", "O'siyo", "Goddag", "Hallo", "Bonjour", "Guten tag", "Kalimera ", "Aloha", "Shalom", "Namaste", "Buon giorno", "Konnichiwa ", "Ahnyong", "Ni hao", "Ola", "Privet", "Talofa", "Hola", "Jambo", "Merhaba", "Chao", "Sawubona", "Hej"]
- if user_signed_in?
  %li
    %p
      - unless current_user.first_name.blank?
        = "#{hellos[Random.rand(23)]} #{current_user.first_name}!"
      - else
        =link_to("Add Your Name", edit_user_registration_path)
  %li
    = link_to "Logout", destroy_user_session_path, :method => :delete
- else
  %li
    = link_to "Login", new_user_session_path