%h2
  Standings
.outcome_actions
  %button.btn.show_predict.right
    Predict Outcomes
  .clear
.outcome_prediction{:style=>"display:none;"}
  = form_tag "#", {:id=>"outcome_form"} do
    .row
      - @bowl_games.each do |bowl_game|
        .outcome.span4.left
          .bowl_name
            = bowl_game.name
          .bowl_teams
            - bowl_game.teams.each do |team|
              .bowl_team
                = radio_button_tag "bowl_outcome[#{bowl_game.id}]", team.id, ((bowl_game.winner_id.present?) ? bowl_game.winner_id==team.id : @user_teams.include?(team.id)), :disabled => bowl_game.winner_id.present?
                = label_tag "bowl_outcome[#{bowl_game.id}][#{team.id}]", "#{team.try(:school_name)} #{team.try(:name)}"
          .clear
      .clear
  .outcome_actions
    %button.btn.generate_prediction.right
      Generate Results
    .clear
.standings
  - @users.each do |user|
    .standing.row{"data-picks"=>user.picks.inject({}){|r,p| r[p.bowl_game_id]={:team_id=>p.team_id,:points=>p.points};r}.to_json}
      .span16
        .row
          .span2
            .score{:class=>"#{(user.score > 0) ? 'positive' : ((user.score < 0) ? 'negative' : '' )}"}
              = user.score
          .span14
            .user_info
              = link_to user.full_name, user_picks_path(user.username)
            .top_picks
              - user.picks[0..4].each do |pick|
                .top_pick.left{:class=>"#{((pick.team_id == pick.bowl_game.winner_id) ? "correct" : "incorrect" ) if pick.bowl_game.winner_id.present?}"}
                  .left.teamLogo{:class=>"espnId-#{pick.team.try(:espn_id) || 'blank'}"}
                  .team_name
                    = "#{pick.team.try(:school_name)}"
                  .clear
          .clear