.row
  .span-two-thirds
    - @posts.each do |post|
      .page-header
        %h2
          = post.title
          %small
            = "#{post.author.try(:first_name)} #{post.author.try(:last_name)} - #{post.created_at.strftime("%m/%d/%Y")}"
      .post_body
        = post.body
  .span-one-third
    .page-header
      %h3
        Standings
    Coming Soon...