:css
  .user_fullname
  {
    font-size: 18px;
    padding-top: 12px;
  }
  .user_fullname a
  {
    text-decoration: none;
    color: #404040;
  }
  .user_fullname a:hover
  {
    text-decoration: underline;
  }
  .score
  {
    font-size:45px;
    line-height: 45px;
    text-align: right;
  }
  .score.positive {
    color:#57A957;
  }
  .score.negative {
    color:#C43C35;
  }
  .post_body {
    margin-bottom: 12px;
  }
  table td { padding: 5px }
.container_row.row
  .page-header.span16
    %h2
      Today's Games
  - if @games_today.empty?
    .span16
      %h6
        There are no games today
  - @games_today.each do |bowl_game|
    = render 'shared/bowl_game_partial', :bowl_game => bowl_game
.container_row.row
  .span-two-thirds
    .page-header
      %h2 
        Latest News
    - if @posts.empty?
      %h6
        No new posts
    - @posts.each do |post|
      %h3
        = post.title
        %small
          = "#{post.author.try(:first_name)} #{post.author.try(:last_name)} - #{post.created_at.strftime("%m.%d.%Y")}"
      .post_body
        = post.body
  .span-one-third
    .page-header
      %h2
        Top 5
    %table.zebra-striped
      - @top5.each do |user|
        %tr
          %td
            .user_fullname
              = link_to user.full_name, user_picks_path(user.username)
          %td
            .score{:class=>"#{(user.score > 0) ? 'positive' : ((user.score < 0) ? 'negative' : '' )}"}
              = user.score