:css
  .loginControl
  {
    border: 1px solid #ddd;
    padding: 6px 10px;
    margin-top: 50px;
  }
  .loginControl .row
  {
    margin: 6px 0;
  }
  .loginControl .span2
  {
    width: 75px;
    text-align: right;
  }
  .loginControl input[type="text"]
  {
    width: 150px;
  }
  .loginControl input[type="submit"]
  {
    float: right;
  }
  .loginControl input[type="checkbox"]
  {
    float: left;
    margin-left: 6px;
  }
  .rememberMe
  {
    float: left;
    font-size: 12px;
    margin-top: 2px;
  }
  .welcome_message
  {
    padding: 4px;
  }
  .bowlLogo
  {
    float: left;
  }
  .floatFix
  {
    clear: both;
  }
.row
  .span-one-third
    .loginControl
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        .row
          .span2
            Email
          .span3
            = f.email_field :email
        .row
          .span2
            Password
          .span3
            = f.password_field :password
        .row
          .span2    
          .span3
            - if devise_mapping.rememberable?
              .rememberMe
                Remember Me
              = f.check_box :remember_me
            = f.submit "Sign in"
            .floatFix 
      = render :partial => "devise/shared/links"
  .span-two-thirds
    .welcome_message
      .bcsBowl
        .bowlLogo.bowlId-nationalchampionship
        .bowlLogo.bowlId-rosebowl
        .bowlLogo.bowlId-sugarbowl
        .bowlLogo.bowlId-fiestabowl
        .bowlLogo.bowlId-orangebowl
        .floatFix
      %h3 Welcome to the 2012 Bowlgame Pick 'em Pool
      %p
        Make picks for all bowl games and determine confidence levels.  The confidence points you attribute to each game you GAIN if you predict the game correctly, or LOSE if you choose the game wrong.
      %p
        %span{:style => "color:red"}
          PICKS NEED TO BE IN BY SATURDAY, DEC 17th @ 10:00 AM
          %b PST
          !!!
        %br/
      %p{:style => "font-size:90%"}
        Questions? Contact
        %a{:href => "mailto:csi7585@gmail.com"} csi7585@gmail.com
