.page-header
  %h2
    Bowl Game Pick'em 2012
.bcsBowl
  .bowlLogo.bowlId-nationalchampionship
  .bowlLogo.bowlId-rosebowl
  .bowlLogo.bowlId-sugarbowl
  .bowlLogo.bowlId-fiestabowl
  .bowlLogo.bowlId-orangebowl
  .floatFix
.loginControl
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %div
      Email
    %div
      = f.email_field :email
    %div
      Password
    %div
      = f.password_field :password
    %div
      .right
        %input{:type=>"submit",:value=>"Sign in","data-inline"=>"true"}
      - if devise_mapping.rememberable?
        .right
          .rememberMe
            Remember Me
          = f.check_box :remember_me
          .floatFix
      .floatFix
    %div
      = render :partial => "devise/shared/links"