%h2
  User Hits
= form_tag update_user_picks_path(@user.username), {:id=>"pickForm"} do
  %table#pickTable
    %tbody{:class => "#{"editable" if @allow_edit}"}
      - @picks.each_with_index do |pick,index|
        %tr.pickContainer{:class => "#{"editable" if @allow_edit}"}
          %td.confidence
            = hidden_field_tag "picks[#{pick.id}][team_id]", pick.team_id, {:class => "pickTeamId"}
            = text_field_tag "picks[#{pick.id}][points]", (pick.points || @picks.size-index), {:maxlength => 2, :size => 2, :class => "pickPointsInput", :disabled => !@allow_edit}
          %td.bowlGame
            = pick.bowl_game.name
          - pick.bowl_game.teams.each do |team|
            %td.bowlTeam{"data-team_id"=>team.id, :class=>"#{"pickedTeam" if team.id == pick.team_id}"}
              %div.teamLogo.med{:class=>"espnId-#{team.espn_id}"}
              .teamInfo
                .teamName
                  = "#{team.school_name} #{team.name}"
                .record
                  = "(#{team.wins}-#{team.losses}, #{team.conference_wins}-#{team.conference_losses} #{team.conference.short_name})"