%h2
  User Picks
- if @user.paid?
  %a.wepay-widget{:href => "https://www.wepay.com/events/view/32265?widget_type=tickets&widget_ticket_id=32265&widget_auth_token=d8b2727cef48d24b8d7d440512c01f2bb2dfe2a7&widget_show_description=0&widget_show_tickets=1"}
    Buy Tickets for 4th Annual Bowl Game Pick 'Em
    %script#wepay-widget_script{:src => "https://www.wepay.com/min/js/widget.wepay.js", :type => "text/javascript"}
- else
  = form_tag update_user_picks_path(@user.username), {:id=>"pickForm"} do
    %table#pickTable
      %tbody{:class => "#{"editable" if @allow_edit}"}
        - @picks.each_with_index do |pick,index|
          %tr.pickContainer{:class => "#{"editable" if @allow_edit}"}
            %td.confidence
              = hidden_field_tag "picks[#{pick.id}][team_id]", pick.team_id, {:class => "pickTeamId"}
              = text_field_tag "picks[#{pick.id}][points]", (pick.points || @picks.size-index), {:maxlength => 2, :size => 2, :class => "pickPointsInput", :disabled => !@allow_edit}
            %td.bowlGame
              = pick.bowl_game.name
            - pick.bowl_game.teams.each do |team|
              %td.bowlTeam{"data-team_id"=>team.id, :class=>"#{"pickedTeam" if team.id == pick.team_id}"}
                .teamWrapper
                  .teamLogo.med{:class=>"espnId-#{team.espn_id}"}
                  .teamInfo
                    .teamName
                      = "#{team.school_name} #{team.name}"
                    .record
                      = "(#{team.wins}-#{team.losses}, #{team.conference_wins}-#{team.conference_losses} #{team.conference.short_name})"