!!!
%html
  %head
    %title Bowlgame
    = tag :meta, :name => "apple-mobile-web-app-capable", :content => "yes"
    = tag :meta, :name => "viewport", :content => "width=device-width, minimum-scale=1, maximum-scale=1"
    = stylesheet_link_tag "application"
    = csrf_meta_tags
  %body
    #page.container.mobile_container
      - if notice
        .notice.alert-message.success
          = notice
      - if alert
        .alert.alert-message.error
          = alert
      = yield