!!!
%html
  %head
    %title Bowlgame
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      %div
        = @pickem.name
      %ul.menu
        %li
          = link_to 'Your Picks', user_picks_path(current_user.username) 
        = render 'shared/registration_items'
        = render 'shared/login_items'
    %page
      .notice
        = notice
      .alert
        = alert
      = yield
    %footer