!!!
%html
  %head
    %title Bowlgame
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.body
    #header.topbar
      .fill
        .container
          %span.brand{:style => "color:white"}
            = link_to @pickem.name, root_path
          %ul.nav
            %li
              = link_to 'Bowl Games', bowl_games_path 
            - if user_signed_in?
              %li
                = link_to 'Your Picks', user_picks_path(current_user.username)
          = render 'shared/secondary_nav'
    #page.container
      - if notice
        .notice.alert-message.success
          = notice
      - if alert
        .alert.alert-message.error
          = alert
      = yield
    #footer